.App {
  text-align: center;
  width: 100%;

}

.App-logo {
  width: 90px;
  height: 90px;
  margin: 9px;
  border-radius: 50%;
}

.links {
  font-size: 30px;
  font-weight: bold;
}
.home-img {
  margin: 55px;
  width: 280px;
  height: 650px;

 
}
.App-header {
  background-color: #8e57b6;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}


.App-link {
  color: #61dafb;
}
.footer{
  background-color: #915b96;
  background-position: center;
  background-size: cover;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
