.mainPage {
    min-height: 93vh;
}
.mainPage {
    display: flex;
    flex-direction: row;
    background-color: pink
  
  }
.home-img {
    margin: 55px;
    height: 650px;
  }

.title {
    font-size: 50px;
    font-weight: bold;
}
.buttonContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 55px;
}
.landingbutton{
    width: 200px;
    height: 60px;
    background-color: rgb(127, 80, 172);
    color:black;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
}
.intro {
    text-align: center;
    justify-content:center;
    margin-top: 18%;
    margin-left: 8%;
}